@font-face {
    font-family: "NS-Regular";
    src: url("/NS-fonts/nssans-regular.woff2") format("woff2");
}

@font-face {
    font-family: "NS-Bold";
    src: url("/NS-fonts/nssans-bold.woff2") format("woff2");
}

@font-face {
    font-family: "NS-Bolditalic";
    src: url("/NS-fonts/nssans-bolditalic.woff2") format("woff2");
}

@font-face {
    font-family: "NS-Italic";
    src: url("/NS-fonts/nssans-italic.woff2") format("woff2");
}

@font-face {
    font-family: "NS-Demi";
    src: url("/NS-fonts/nssans-demi.woff2") format("woff2");
}


:root {
    --geel: #FFCC00;
    --blauw: #003082;
    --wit: white;
    --red: rgba(224, 131, 131, 0.2);
    --red-border: rgb(209, 49, 49);
    --green:rgba(96, 198, 96, 0.2);
    --green-border: rgb(48, 133, 48);
    --grey: rgb(231, 231, 231);

    --h2: 2.5em;
    --h3: 1em;
    --margin: .5em 0;
}

.bold{
    font-family: 'NS-Bold';
}
body {
    font-family: 'NS-Regular';
    background-color: var(--geel);
    color: var(--blauw);
    box-sizing: border-box;
    margin: 0;

}

header {
    display: flex;
    background-color: var(--wit);
    height: 10vh;
    width: 100%;
    justify-items: center;
    margin: 0;

    >img {
        padding: 0 2em;
        height: 2em;
        width: auto;
        place-self: center;
    }

    >h1 {
        font-family: 'NS-Bold';
        font-size: 1.5em;
        align-self: center;
        width: 100%;
    }
}

main>section{
    display: flex;
    flex-direction: row;
    margin: 3em;
}
main>section h1{
    font-size: 2em;
    
}

section >h2 {
    font-family: 'NS-regular';
    font-size: var(--h2);
    margin: 0;
    padding: 0;
}

/* 
---------------------dialog--------------------------- */
main> section > button{
    border: none;
    background-color: transparent;
    align-self: center;
    height: 2em;
}

main> section button img{
    height: 2em;
    width: auto;
}

dialog{
    width: 90vw;
    height:90vh;
    border: none;
    border-radius: .5em;
    color: var(--blauw);
}

dialog form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    
}
dialog form div{
    display: flex;
    column-gap: 2em;
}
dialog form article{
    width: 50%;
}
dialog form button{
    font-family: 'NS-Bold';
    background-color: var(--blauw);
    width: 15em;
    padding: 1.5em 1em;
    color: var(--geel);
    border-radius: .5em;
    align-self: end;
}

/* 
dialog form article p:first-of-type{
    font-family: 'NS-bold';
} */
dialog form article li{
    padding: .3em 0;
}
dialog form article li ul li{
    font-family: 'NS-Italic';
}

/* -----------------------form------------------------- */
main > form {
    display: flex;
    gap: 1em;
    background-color: var(--wit);
    padding: 2em;
    width: 70%;
    place-self: center;

}
form> fieldset{
    width: 100%;
}
fieldset {
    margin: var(--margin);

    p {
        font-family: 'NS-Italic';
        margin: 0;
        font-size: 1em;
    }

    input[type="number"] {
        width: 4em;
    }

    input:user-valid {
        background-color: var(--green);
        border: .2em solid var(--green-border);

    }

    input:user-invalid {
        background-color: var(--red);
        border: .2em solid var(--red-border);

    }
   
    /* .required::after::after {
        content: " *";
    } */
    
    fieldset h3 {
        font-size: var(--h3);
        margin: 0;
        margin: .5em 0;
    }

    h4 {
        font-family: 'NS-Bold';
    }

    input {
        margin: var(--margin);
        border: .12em solid var(--blauw);
        border-radius: .2em;
        padding:.5em;
    }
    
}

form>fieldset>h3 {
    font-family: 'NS-Bold';
    font-size: 1.5em;
    margin: .5em;
}

/* -----------1a---------------- */

.a {
    display: flex;
    flex-direction: column;
}

.a section:nth-of-type(1){
    display:flex;
    gap: 1em;
}

.a section:nth-of-type(1) label:nth-of-type(2)> input{
    width: 5em;
}

/* -----------1b---------------- */

.b:not(:has(#ja:checked)) fieldset:nth-of-type(n+2) {
    display: none;
}

.b:has(#ja:checked) fieldset:nth-of-type(n+2) {
    border: .15em solid var(--blauw);
}

fieldset:not(:has(#ja2:checked)) #akteFile {
    display: none;
}

#akteFile {
    display: block;
    /* background-color: var(--blauw);
    color: var(--geel); */
    font-family: 'NS-Bold';
    font-size: 1.1em;
    width: 50%;
    
    border-radius: .3em;
    margin: var(--margin);
}

/* -----------1c---------------- */

.c:not(:has(#ja2c:checked)) fieldset:nth-of-type(n+2) {
    display: none;
}

.c:has(#ja2c:checked) fieldset:nth-of-type(n+2) {
    border: .15em solid var(--blauw);
}

.c:has(#neeC1:checked) fieldset:nth-of-type(n+3) {
    display: none;
    transition: .3s ease-in-out;
}

fieldset:has(#neeC1:checked) {
    display: block;
}

fieldset.c:not(:has(#neeC2:checked)) fieldset:nth-of-type(n+4) {
    display: block;
    transition: .3s ease-in-out;
}

/* -----------1d---------------- */


.d:not(:has(#jad1:checked)) fieldset:nth-of-type(n+2) {
    display: none;
}

.d:has(#jad1:checked) fieldset:nth-of-type(n+2) {
    display: block;
}

.d section:nth-of-type(1) label:nth-of-type(2)> input{
    width: 5em;
}


/* ------------button & progress----------- */

fieldset article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 1em;

}

section{
    width: 80%;
}
section h5{
    font-family: 'NS-Demi';
    font-size: 1em;
   margin:var(--margin);
}

fieldset button{
    border: none;
    border-radius: .5em;
    padding: 1.3em 2em;
    float: right;
    width:8em;
    
}

fieldset:invalid button {
    background-color: #a9a9a9;
    color:#808080 ;
    
}

fieldset:valid button {
    display: block;
    background-color: var(--blauw);
    color:var(--geel) ;
}
progress[value] {
  --color: var(--blauw); /* the progress color */
  --background:var(--grey); /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  margin:var(--margin);
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}




/* -------------2a------------------- */

h3 strong{
    font-family: 'NS-Bold';
}

.tweeA {
    display: flex;
    flex-direction: column;

}

.tweeA section:nth-of-type(1){
    display:flex;
    gap: 1em;
    padding: 1em 0;
}

.tweeA  section:nth-of-type(1) label:nth-of-type(3)> input{
    width: 5em;
}


/* ----------------2b---------------------------- */

input:focus-visible {
   outline: .3em solid var(--blauw);
}
.tweeB  > section:nth-of-type(1){
    display:flex;
    gap: 1em;
    padding: 1em 0;
}

.tweeB fieldset:nth-of-type(1) section label:nth-child(2) input{
    width: 5em;
}
/* .tweeB fieldset:nth-of-type(2){
    display: flex;
    gap: 4em;
} */

.tweeB fieldset:nth-of-type(2) > section > label:first-of-type{
    font-family: 'NS-Bold';
    margin: .5em 0;
}
 

.tweeB fieldset:nth-of-type(2) section > section{
    margin-top: 1em;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    column-gap: 1em ;

}

.tweeB:not(:has(#AdresBuiten:checked)) fieldset:nth-of-type(2) section:nth-of-type(2) > section{
    display: none;
}




/* @media (min-width:750px) and (max-width:1050px){
    
    .tweeB fieldset:nth-of-type(2) section > section{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        width:40%;
        
    
    }
} */



@media (min-width:580px) and (max-width:750px) {
    
    form {

        width: 90%;
    
    }
    form> fieldset{
        max-width: 100%;
    }

    .tweeA section:nth-of-type(1){
        flex-direction: column;
        gap: 1em;
    }
 
    .tweeB fieldset:nth-of-type(2) section > section{
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 1fr 1fr;
    

}

}

@media  (max-width:579px) {
    header{
        padding: 0 ;
        justify-items: center;

        >h1{
            font-size: 1.2em;
        }

        >img {
            height: 1.5em;
            width: auto;
            padding: 1em;
            place-self: center;
        }
    }
    
    h3{
        width: 80%;
    }
    form {
        width: 90%;
        padding: 1em;
        margin: 0;
    }
  

    form> fieldset{
        max-width: 90%;
    }

    .a section:nth-of-type(1){
        flex-direction: column;
        gap: 1em;
    }
    .tweeA section:nth-of-type(1){
        flex-direction: column;
        gap: 1em;
    }
 
    .tweeB fieldset:nth-of-type(2) section > section{
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 1fr 1fr ; 
    

}
}

/* 
label p{
    display: none;
}

label:has(input:user-invalid) + p{
    display: block;
} */